$footer-height: 50px;


html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 16px;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	background: $white;
}



.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.wrapper:after {
	content: "";
	display: block;
	height: 50px;
}

.main-content {
	padding-bottom: 50px;
}

.container {
	margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}


ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

.footer {
	height: $footer-height;
	width: 100%;
	margin-top: -50px;
	position: relative;
}



h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-weight: normal;
}
