
.career {
  @extend %clearfix;
  padding: 0px 10px;
}

.career__left {
	width: 290px;
	float: left;
}

.career__right {
	width: 400px;
	float: right;
}

.career__pic {
	overflow: hidden;
	display: inline-block;
	max-width: 220px;
	max-height: 220px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;

}

.career__pic-img {
	display: block;
	max-width: 100%;
	height: 100%;
}

.career__item {
	text-align: right;
	margin-bottom: 20px;

	&:first-child {

		.career__block {
			&:before {
				display: none;
			}
		}

	}

	&:last-child {
		.career__block {
			&:after {
				display: none;
			}
		}
	}
}

.career__block {
	width: 300px;
	border: 1px solid #e6e6e6;
	display: inline-block;
	position: relative;
	text-align: left;
	background: #FFF;
	padding: 20px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	font-family: 'fira_sansregular';
	cursor: pointer;

	&:before,
	&:after {
		content: "";
		display: block;
		width: 1px;
		background: #DDD;
		position: absolute;
		left: -30px;
	}

	&:before {
		top: 0;
		bottom: 50%;
		margin-bottom: 14px;
	}

	&:after {
		top: 50%;
		bottom: 0;
		margin-top: 14px;
	}

	&:hover {
		background: $light-blue;
		color: #FFF;
		font-family: 'fira_sansbold';

		.career__year {

			color: $light-blue;
			&:after {
			border: 2px solid $lightest-blue;
			margin-top: -7px;
			}
		}
	}
}

.career__year {
	position: absolute;
	top: 50%;
	right: 100%;
	line-height: 30px;
	margin-top: -15px;
	text-align: left;
	margin-right: 43px;

	&:after {
		content: "";
		width: 10px;
		height: 10px;
		background: $light-blue;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		position: absolute;
		right: -19px;
		top: 50%;
		margin-top: -5px;
		z-index: 1;
	}
}
