.content {
	padding: 0px 10px;
	.container {
		@extend %clearfix;
	}
}

.sidebar {
	width: 25%;
	float: left;
	height: 60px;

}

.page-content {
	width: 75%;
	float: right;
	padding-left: 10px;
	box-sizing: border-box;
}

.nav__link {
	display: block;
	padding: 10px 20px 10px 0px;
	text-align: right;
	border-right: 5px solid transparent;
	font-size: 18px;
	font-family:'fira_sansregular', arial, sans-serif;
	color: $dark-grey;
	text-decoration: none;

	&:hover {
		border-color: $light-blue;
		color: $light-blue;
		font-family:'fira_sansbold', arial, sans-serif;
	}
}

.current_page_item {
	a {
		border-color: #33c1e3;
		color: #33c1e3;
		font-family: 'fira_sansbold', arial, sans-serif;
	}
}

/*----------- about--------------- */

.about {
	@extend %clearfix;
}

.about__left {
	width: 32%;
	float: left;
}



.about__right {
	width: 68%;
	float: right;
}

.about__pic {
	overflow: hidden;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	display: inline-block;
	border: 5px solid #fff;
}

.about__pic-img {
	display: block;
	max-width: 220px;
	max-height: 220px;
}

.title {
	font-size: 35px;
	color: $dark-grey;
	font-family: 'fira_sansmedium';
	margin-bottom: 20px;
}


.about__desc {
	font-size: 18px;
	color: #646464;
	font-family: 'fira_sansregular';
}

.about__desc {
	p {
		margin-top: 0;
		margin-bottom: 15px;
	}
}

.about__bttns {
	float: right;
}

.btn {
	display: inline-block;
	font-size: 14px;
	padding: 11px 12px 11px 22px;
	border: 2px solid $light-red;
	color: $light-red;
	text-decoration: none;
    border-radius: 25px;
   	font-weight: bold;	
    text-align: center;	
    
    &:hover {
    	background: $light-red;
    	color: #FFF;	
    }

    &:active {
    	background: rgba( $light-red, .8);
    	border: 1px solid rgba( $light-red, .8);;
    }
}

.btn-text {
	padding-left: 0px;	
}