footer {
	background: $dark-grey;
}

.footer {
	.container {
		@extend %clearfix;
	}
}

.footer__left {
	float: left;
}

.footer__right {
	float: right;
}

.socials {
	padding: 10px;
}

.socials__item {
	display: inline-block;
	margin-left: 3px;
	
	&:last-child {
		margin-left: 0;
	}
}

.social__link {
	width: 32px;
	height: 32px;
	display: block;
}

.copy {
	color: #9C9C9C;
	font-size: 14px;
	font-family: 'fira_sanslight';
	padding: 15px 0;
}

@each $social in (vk, fb, tw) {
	.social__link_#{$social} {
		background: url('../images/#{$social}.png') 0 0 no-repeat;
	}
}