.header {
	height: 80px;
	background: #FFF;
	margin-bottom: 30px;

	@include box-shadow(0 1px 3px 0 rgba(#000, .2));
	@extend %clearfix;

}

.header {
	.container {
		@extend %clearfix;
	}
}

.header__right,
.header__left {
	float: left;
	width: 50%;
}

.header__left {
	text-align: right;
}

.user {
	padding: 10px 0px;

	&:hover {
		.user__username {
			color: $light-blue;
		}
	}
}

.contacts {
	padding: 30px 0px;
}

.contacts__link {
	color:  $light-blue;
    font-size: 14px;
    text-decoration: none;
    font-family: 'fira_sansbold', arial, sans-serif;
    padding: 7px 14px;
    border: 2px solid;
    border-radius: 25px;

	&:hover {
		background: $light-blue;
		color: #FFF;
	}
}

.contacts__link.curent--active {
	background: $light-blue;
	color: #FFF;
}

.user__avatar {
	@include inlineblock(middle);
	width: 60px;
	height: 60px;
	background: #CCC;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	overflow: hidden;
}

.user__username {
	@include inlineblock(middle);
	font-size: 18px;
	font-family:'fira_sansregular';
	cursor: pointer;
}

.avatar__link {
	img {
		width: 100%;
	}
}
