.portfolio__list {
	@extend %clearfix;
}	

.portfolio__item {
	width: 32%;
	margin-bottom: 70px;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	overflow: hidden;
	float: left;
	margin-right: 2%;
	
	
	&:nth-child(3n) {
		margin-right: 0px;
	}

	&:hover {
		box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1);
	}
}

.portfolio__item-link {
	display: block;
	text-decoration: none;
}

.portfolio__img {
	-webkit-border-radius: 10px 10px 0px 0px;
	        border-radius: 10px 10px 0px 0px;
}

.portfolio__img-pic {
	display: block;
    width: 100%;
    height: auto;
}

.portfolio__text {
	padding: 10px;
	background: #FFF;
}

.portfolio__text-title,
.portfolio__title-desc,
.portfolio__device {
	margin-bottom: 5px;
}

.portfolio__title-desc,
.portfolio__device {
	font-size: 14px;

}

.portfolio__text-title {
	font-size: 21px;
	color: $light-blue;
	font-family: 'fira_sansregular';
}

.portfolio__title-desc {
	color: $dark-grey;
	font-family: 'fira_sansregular';

}

.portfolio__device {
	color: $lightest-grey;
	font-family: 'fira_sansbold';
}

.portfolio__device-text {
	display: inline-block;
	padding-left: 5px;
}
