
.single__image {
	margin-bottom: 20px;
	
}

.single__image-pic {
	width: 100%;
	height: auto;
}

.single__desc {
	font-size: 14px;
	color: $darkest-grey;
	padding: 2%;
	margin-bottom: 20px;
	h2 {
		font-family: 'fira_sansmedium';
		font-size: 18px;
		text-transform: uppercase;
		
		color: $light-blue;	
	}

	p {
		margin: 0;
		margin-bottom: 15px;
		font-family: 'fira_sansregular';
	}
}

.single__bttns {
	width: 180px;
}